{{ form_start(form) }}


{% if form_errors(form) %}
	<div class="mb-3 text-danger">
			{{ form_errors(form) }}
	</div>
{% endif %}

<fieldset>
	<legend>About the team</legend>
	<div class="mb-3">
		{{ form_row(form.name) }}
	</div>
	<div class="mb-3">
		{{ form_row(form.country) }}
	</div>
	<div class="mb-3">
		{{ form_row(form.moneyBalance) }}
	</div>
</fieldset>
<fieldset>
	<legend>Its players</legend>

	{% set itemTemplate %}
		<div class="row mt-3">
			<div class="col">
				<div class="mb-3">
					{{ form_row(form.players.vars.prototype.children.name) }}
				</div>

			</div>
			<div class="col">
				<div class="mb-3">
					{{ form_row(form.players.vars.prototype.children.surname) }}
				</div>
			</div>
		</div>
	{% endset %}


	<div class="team-players-holder" data-index="{{ form.players|length > 0 ? form.players|last.vars.name + 1 : 0 }}" data-prototype="{{ itemTemplate|e('html_attr') }}">
		{% for player in form.players %}
			<div class="custom-existing-player">
				<div class="row mt-3">
					<div class="col">
						<div class="mb-3">
							{{ form_row(player.name) }}
						</div>

					</div>
					<div class="col">
						<div class="mb-3">
							{{ form_row(player.surname) }}
						</div>
					</div>
				</div>
				<button type="button" class="btn btn-sm btn-danger ms-auto d-block custom-delete-existing-player">Delete this player</button>
			</div>

		{% endfor %}
	</div>

	<button type="button" class="custom-add-player-button btn btn-sm btn-success my-3 mb-5" data-collection-holder-class="team-players-holder">Add a player</button>
</fieldset>

{{ form_row(form._token) }}

<button type="submit" class="btn btn-primary">Submit</button>
{{ form_end(form, {render_rest: false}) }}
