{{ form_start(form) }}
    <div class="mb-3">
        {{  form_row(form.typeOp) }}
    </div>
    <div class="mb-3 mt-4 custom-select-parent">
        <p class="h4">Operator :</p>
        <div class="row">
            <div class="col-6">
                {{ form_row(form.operator) }}
            </div>
            <div class="col-6">
                <div class="mb-3">
                    <label for="operator-team-balance" class="form-label">Current money balance of the team</label>
                
                    <div class="input-group "><span class="input-group-text">$ </span><input type="number" id="operator-team-balance" class="form-control custom-team-balance" disabled></div>
                </div>
            </div>
        </div>
        
    </div>

    <div class="mb-3 mt-4 custom-select-parent">
        <p class="h4">Concern :</p>
        <div class="row">
            <div class="col-6">
                {{ form_row(form.concern) }}
            </div>
            <div class="col-6">
                <div class="mb-3">
                    <label for="concern-team-balance" class="form-label">Current money balance of the concern</label>

                    <div class="input-group "><span class="input-group-text">$ </span><input type="number" id="concern-team-balance" class="form-control custom-team-balance" disabled></div>

                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-12">
                {{ form_row(form.player) }}
            </div>
        </div>
        
    </div>

    <div class="mb-3 mt-4">
        {{ form_row(form.amount) }}
    </div>

	<button type="submit" class="btn btn-primary">Submit</button>
{{ form_end(form) }}
